<footer>
  <ul class="footer">
    <li class="footer"><a class="footer" href="aboutTripTrick">About TripTrick</a></li>
    <li class="footer"><a class="footer" href="contact_page">Contact Us</a></li>
    <li class="footer"><a class="footer" href="triptrick_home">TripTrick Home</a></li>
  </ul>
</footer>

</body>
</html>