<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.css' />
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.js'></script>
    <script src='/scripts/calendar.js'></script>
</head>
<body>
  <input type="hidden" id="events" value="<%=JSON.stringify(events)%>"/>
  <div id='calendar'></div>
</body>
</html>